/* 添加样式 */
/* 设置dock栏的背景颜色 */
.dock {
    overflow: hidden;
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

  /* 设置dock栏中每个链接的样式 */
.dock a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* 设置dock栏中每个链接的鼠标悬停样式 */
.dock a:hover {
    background-color: #ddd;
    color: black;
}
/* 去除无序列表li标签的样式 */
ul li {
    list-style: none;
}